<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NextViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>machigai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>955EDE4A1AFC6EE6002E17EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>955EDE631AFC6EE6002E17EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>955EDE8A1AFC7D0E002E17EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>955EDEA21AFC7D0E002E17EF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
